
button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border-radius: 2em;
    border: none;
    margin: 0.3em;
}

button:hover{
    cursor:pointer;
}
.all{
    width: 350px;
    height: 350px;

}

.wrapper{
    padding: 10px;
    background-color: black;
}

.row{
    display: flex;
    justify-content: center;
    gap: 1px;
}
.final{
    display: flex;
    justify-content: center;
    gap: 1px;
}

.Orange{
    background-color: #fb9300;
    color: #fff;
}

.gray{
    background-color: #313131;
    color:#fff;
}

.gray-black {
    background-color: #cecece;
    color: black;
}
.result {
    color: #fff;
    display: flex;
    justify-content:flex-end;
    margin-right: 25px;
    font-size: 3.5em;
}
 #teste {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 30px;
    font-size: 1.5em;

 }